[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Wallpaper Slideshow
Comment=Wallpaper Slideshow
Icon=e-module-Wallpaper-Slideshow
X-Enlightenment-ModuleType=utils
